= form_for @cms_page do |f|
  - if @cms_page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cms_page.errors.count, "error")} prohibited this cms_page from being saved:"
      %ul
        - @cms_page.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
