.overflow-hidden.overflow-x-auto.rounded-lg.border.border-gray-200.m-20
  %table.min-w-full.divide-y.divide-gray-200.text-sm
    %thead.bg-gray-100
      %tr
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          .flex.items-center.gap-2
            Name
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          .flex.items-center.gap-2
            First Template
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          .flex.items-center.gap-2
            Size (Sections)
        %th.whitespace-nowrap.px-4.py-2.text-left.font-medium.text-gray-900
          Status
    %tbody.divide-y.divide-gray-200
      - @cms_pages.each do |cms_page|
        %tr
          %td.whitespace-nowrap.px-4.py-2.text-gray-700
            = link_to cms_page.name , cms_page.name
          %td.whitespace-nowrap.px-4.py-2.text-gray-700
            = cms_page.template
          %td.whitespace-nowrap.px-4.py-2.text-gray-700
            = cms_page.content.length
          %td.whitespace-nowrap.px-4.py-2
            %strong.rounded.bg-green-100.px-3.text-xs.font-medium.text-green-700{:class => "py-1.5"}
              = link_to 'Show', cms_page_path(cms_page , id: cms_page.name)
            %strong.rounded.bg-amber-100.px-3.text-xs.font-medium.text-amber-700{:class => "py-1.5"}
              = link_to 'Edit', edit_cms_page_path(cms_page , id: cms_page.name)

= link_to 'New Page', new_cms_page_path
